.gradient-custom {
    /* fallback for old browsers */
    background: #c9c4d0;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient( to right, rgb(219, 217, 222), rgb(93, 115, 154));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient( to right, rgb(223, 220, 226), rgb(72, 90, 120));
}

.small .text-black-50:hover {
    color: black !important;
    font-weight: 900;
}