.gradient-custom {
    /* fallback for old browsers */
    background: #80639f;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient( to right, rgba(106, 17, 203, 1), rgb(93, 115, 154));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient( to right, rgba(106, 17, 203, 1), rgb(72, 90, 120));
}

.small .text-black-50:hover {
    color: black !important;
    font-weight: 900;
}