.btn:hover {
    background-color: rgb(215, 8, 8);

}
.card:hover {
    box-shadow: 1px -1px 11px 11px rgba(155,173,230,0.75);
    -webkit-box-shadow: 1px -1px 11px 11px rgba(155,173,230,0.75);
    -moz-box-shadow: 1px -1px 11px 11px rgba(155,173,230,0.75);
}